
@model IEnumerable<hinario_ccb.Models.Hino>
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Novo Hino">Create New</a>
</p>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HinoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tonality)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HinoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tonality)
                </td>
                <td>
                    <a asp-action="AtualizarHino" asp-route-itemid="@item.HinoId">Atualizar</a>
                    <form asp-action="ExcluirHino" asp-route-itemid="@item.HinoId">
                        <button type="submit">Excluir</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
